@{
    ViewData["Title"] = "Privacy Policy";
}
@inject IServizioRegistrazioni servizio

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@await Html.PartialAsync("_CardRegistrazione", @servizio.EstraiUltimaRegistrazione())

@await Component.InvokeAsync("MyFirst", 42)


@section MiaSezione {
    <h3> Esempio di sezione</h3>
}