@model Registrazione

<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">@Model.Id</div>
  <div class="card-body">
    <h4 class="card-title">@Model.DataRegistrazione</h4>
    <p class="card-text">@Model.Oggetto</p>
  </div>
</div>